@font-face{
    font-family: 'Inter-Bold' ;
    src: url(../fonts/Inter/Inter-Bold.ttf);
    font-weight: 700;
}
@font-face{
    font-family: 'Inter-Regular' ;
    src: url(../fonts/Inter/Inter-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: 'Roboto-Bold' ;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
}
@font-face{
    font-family: 'Roboto-Regular' ;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}